{% extends 'base.html' %}

{% block title %}Марка {{ data.brand }}{% endblock %}

{% block content %}
    {% for car in data.cars %}
        <p>
            <div>Автомобиль {{ car.photo.url }} {{ car.title }}</div>
            {% if car.photo %}
                <img src="{{car.photo.url}}" height="350" width="500">
            {% endif %}
            <div>Страна производитель: {{ data.brand.country }}</div>
            <div>Цена в час: {{ car.price }} руб.</div>
            <div>Полезный объём: {{ car.useful_capacity }} м<sup><small>3</small></sup></div>
        </p>
    {% endfor %}
{% endblock %}